button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
button:hover {
    opacity: 0.8;
}

.playlist {
    padding: 0px 30px;
    padding-top: 30px;
  }
  
.playlist .music {
    display: block;
    width: 65%;
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin: 20px auto;
    color: #fff;
    font-family: "Courier New", Courier, monospace;
  }
.playlist .music:hover {
    color: #ff5858;
  }

.playlist .music.playing {
    color: #fff;
    background-image: linear-gradient(to right, #cc2e5d, #ff5858);
  }
.playlist .pause {
  display: block;
    width: 65%;
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin: 20px auto;
    color: rgb(24, 97, 116);
    font-family: "Courier New", Courier, monospace;
}
.playlist .pause:hover {
  color: rgb(32, 141, 141);
}